.vscode/
.history/
.idea/
*.sublime-workspace
*.sublime-project
*.code-workspace
*.user
*.sln
*.userprefs
*.csproj
*.unityproj
*.pidb
*.suo
*.tmp
*.log

.DS_Store

# claude related file

.claude/*
docs/*
plans/*
CLAUDE.md

*.tar

*.txt
!requirements.txt
*.md
!README.md
yolo11n.pt 
yolo12n.pt
repomix-output.xml