__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.git
.gitignore
.env
.venv
venv/
*.md
.DS_Store
*.swp
*.swo
*~
.pytest_cache
.coverage
htmlcov/
*.log
runs/
yolo11n.pt
yolo12n.pt
*.tar
k8s/
.vscode/
.idea/
*.pt


